<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
<body>
	<div class="footerBar" th:fragment="footer">
		<div class="footer">
			<div class="footer-box">
				 <!-- <div class="top">
					产品中心、科研创新、快速通道
					<ul class="internal-link-box pull-left hidden-xs">
						<li>
							<h2 style="margin-top: 0">科研创新</h2> <a
							href="/RDcenter_lianyungang.html">连云港研发中心</a> <a
							href="/RDcenter_shanghai.html">上海研发中心</a> <a
							href="/RDcenter_USA.html">美国研发中心</a>
						</li>
						<li>
							<h2>快速通道</h2> <a href="https://hrs.com.cn/">公司邮箱</a> <a
							href="https://mail.hrglobe.cn/">临床医学部邮箱</a><a
							href="https://hrs.webex.com.cn/">视频会议</a><a
							href="/xwzxlist/6.html">投资者关系</a> <a href="/gsnbxxhpt.html">公司内部信息化平台</a>
						</li>
						<li>
							<h2>产品中心</h2> <a href="/productlist/25.html">抗肿瘤药</a><a
							href="/productlist/26.html">心血管药</a><a
							href="/productlist/27.html">内分泌药</a><a
							href="/productlist/28.html">抗生素</a><a href="/productlist/29.html">大输液</a><a
							href="/productlist/30.html">其他</a>
						</li>
					</ul>
					公司信息
					<div class="pull-right company-information hidden-xs">
						<img style="height: 50px;" src="images/logo_02.jpg">
						<p>服务热线：400-828-3900</p>
						<p>不良反应投诉邮箱：pv-post-marketing@shhrp.com</p>
						<p>公司地址：江苏省连云港经济技术开发区昆仑山路7号</p>
						<p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：222047</p>
					</div>
					友情链接
					<div style="position: relative;"
						class="btn-group friendship-link dropup">
						<button id="linkButton" type="button"
							class="btn btn-default dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							友情链接 <span style="transform: scale(.75); display: inline-block;"
								class="caret">▲</span>
						</button>
						<ul style="display: none;" id="dropdown-menu"
							class="dropdown-menu">
							<li><a target="_blank" href="http://www.cpi.gov.cn/">中国医药信息网</a></li>
							<li><a target="_blank" href="http://www.shhrp.com">上海恒瑞</a></li>
							<li><a target="_blank" href="http://www.singchn.com">新晨医药</a></li>
							<li><a target="_blank" href="http://www.haosoh.cn">豪森药业</a></li>
							<li><a target="_blank" href="http://www.cttq.com">正大天晴</a></li>
							<li><a target="_blank" href="http://www.kanion.com">康缘药业</a></li>
							<li><a target="_blank" href="http://www.zhong-jin.com">中金包装</a></li>

						</ul>
					</div>
					<div class="weixin pull-left hidden-xs">
						<img src="images/logo_02.jpg" alt="">
					</div>
				</div>  -->
				<div class="top" style="height: 100px;">
					<ul class="internal-link-box pull-left hidden-xs">
						<li style="margin-left: 87px;margin-top: -44px;">
							<h2 style="margin-top:0;font-size: 21px;">公司公众号</h2> 
							<img src="/zgytimg/lunbo/wxLogo.jpg" style="height: 103px;"/>
						</li>
					</ul>
					<div style="width: 100%;" class="sj_kstd row">
						<a class="" href="/" style="color: #ffffff;">北京中公远通科技有限公司 Beijing Zhong Gong Yuan Tong
							Technical Co.LTD</a> <a class="" href="/" style="color: #ffffff;">京ICP备16057089号-1</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>