
.fix-box{
	position: fixed;
	margin-left: -100px;
	bottom: 38px;
	background-color: #fff;
}
.fix{
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:1px dotted #999;
	background-color:white;
}
.fix.notop{
	border-top:none;
}
.fix:hover{
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:1px dotted #999;
	background-color:silver;
}
.fix a{
	color: #666;
	text-decoration: none;
	font-size: 15px;
}